div.table, div.workflow-form, div.workflow-form-2 {
    margin-top: 1.5rem;
}
.label-clr,.th-clr {
    color: #3ecc31;
}

.icon-stl-upd{
    margin-right: 0.5rem;
}

.row-2-inputs {
    display: flex;
    justify-content: left;
    align-items: center;
}